.header-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  
  .left-header-area {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  
  .right-header-area {
    display: flex;
    align-items: center;
  }
  
  .nav-item {
    position: relative;
    padding: 4px 20px;
    cursor: pointer;
    color: white;
  }
  
  .panel {
    position: absolute;
    top: 100%;
    background: white;
    /* width: auto; */
    /* height: auto; */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    /* border-radius: 4px; */
    color: black;
    padding: 10px;
   margin-right: 15px;
   z-index: 9;
  }
  
  .toolbar {
    background-color: purple;
    height: 40px;
  }
  
  mat-card {
    padding: 10px;
    font-size: 14px;
  }
  
  .custom-table {
    width: 100%;
    border: none;
  }
  
    .custom-table th {
      border: 1px solid #ddd;
      text-align: left;
      color: black;
      padding: 0px 8px;
      border-right: 1px solid white;
    }
  
      .custom-table th:last-child {
        border-right: none;
      }
  
    .custom-table td {
      border: 1px solid #ddd;
      text-align: left;
      color: black;
      padding: 0px 8px;
      border: none;
    }
  
    .custom-table th {
      background-color: mediumpurple;
    }
  
  .link-hover {
    text-decoration: none;
    color: black;
  }
  
  .header-table-text:hover {
    text-decoration: underline;
    background-color: #dedede;
  }
  
  .border-bottom {
    border: 1px solid black;
  }
  
  .panel-list-text:hover {
    text-decoration: underline;
    background-color: #dedede;
    padding: 5px;
  }
  
  .nested-menu {
    margin-bottom: 0px;
    padding-left: 0px;
  }
  
  .list-item {
    list-style: none;
  }
  
  .list-item1 {
    padding-left: 20px;
  }
  
  .nav-item {
    text-decoration: none;
    color: white;
  }
  
    .nav-item:hover {
      text-decoration: underline;
      text-decoration-thickness: 1.5px;
      color: white;
    }
  
  .example-container {
    height: 500px;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    user-select: none;
  }
  
  .full-width {
    width: 100%;
  }
  
  .menu-button {
    transition: 300ms ease-in-out;
    transform: rotate(0deg);
  }
  
    .menu-button.rotated {
      transform: rotate(180deg);
    }
  
  .submenu {
    overflow-y: hidden;
    transition: transform 300ms ease;
    transform: scaleY(0);
    transform-origin: top;
    padding-left: 30px;
    display: block;
  }
  
    .submenu.expanded {
      transform: scaleY(1);
    }
  
  .submenu-item {
    display: flex;
    align-items: center;
  }
  
  ::ng-deep .mat-mdc-menu-panel {
    min-width: 112px !important;
    max-width: 600px !important;
  }
  
  /*Dialog CSS*/
  .modules-container {
    padding: 10px;
    font-size: 12px;
  }
  
  .close-icon:hover {
    color: red;
  }
  
  .popup-title {
    margin-bottom: 15px;
  }
  
  ::ng-deep .info-form-field .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
    padding-top: 6px !important;
    padding-bottom: 6px !important;
  }
  
  ::ng-deep .info-form-field .mat-mdc-form-field-infix {
    min-height: 13px !important;
  }
  
  .info-form-field {
    width: 100%;
  }
  
  ::ng-deep .info-form-field .mdc-text-field--outlined {
    --mdc-outlined-text-field-outline-color: rgb(223, 219, 219) !important;
  }
  
  ::ng-deep .info-form-field .mat-mdc-form-field-input-control.mat-mdc-form-field-input-control {
    font-size: 12px !important;
  }
  
  ::ng-deep .password-field .mat-mdc-form-field-subscript-wrapper {
    height: 0px !important;
  }
  
  .checkbox-text {
    margin-left: 5px;
  }
  
  .checkbox-login{
    margin-top: 5px;
  }
  .submit-button {
    width: 100%;
    margin: 10px 0px 0px 0px;
  }
  
  .tableAction-button {
    font-size: 15px;
  }
  
  .button-container {
    margin-bottom: 15px;
  }
  
  .signup-link {
    margin-left: 5px;
  }
  
  .company-logo {
    height: 50px;
    width: 80px;
  }
  
  .second-header-area {
    margin: 0px 1px;
    padding: 10px;
    height: 70px;
    border-bottom: 1.5px solid black;
  }
  
  .header-align-content {
    align-content: center;
    font-size: 14px;
  }
  
    .header-align-content:hover {
      cursor: pointer;
    }
  
  .search-header {
    align-content: center;
  }
  
  .country-name {
    margin: 0px 10px;
    font-weight: bold;
  }
  
  .country-item {
    padding: 10px;
  }
  
    .country-item:hover {
      background-color: #f3f3f3;
    }
  
  .footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .footer-section {
    flex: 1;
    margin: 0px;
    min-width: 220px;
  }
  
    .footer-section h3 {
      margin-bottom: 15px;
    }
  
    .footer-section ul {
      list-style-type: none;
      padding: 0;
    }
  
    .footer-section li {
      margin-bottom: 10px;
    }
  
    .footer-section a {
      color: #fff;
      text-decoration: none;
    }
  
      .footer-section a:hover {
        text-decoration: underline;
      }
  
  .footer-bottom {
    margin-top: 20px;
  }
  
  .cart-table{
      width: 100%;
  }
  
  .cart-table th{
      width: 33.33%;
      background-color: #f4f4f4;
      padding: 5px;
  }
  
  .cart-table td{
      padding: 5px;
  }
  
  .cart-text{
      margin-top: 10px;
  }
  
  .cart-button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
  }
  
  .cart-button-container button{
      margin: 0px;
  }
  