<div class="recently-view-container">
    <div class="row" style="margin: 0px 20px;">
      <div class="col-xs-12 col-md-12" style="padding: 0px;">
        <div class="recently-viewd-header justify-content-between">
          <span class="left-view-header">Previously Viewed Products</span>
          <span class="right-view-header"><a class="clear-link" href="#">Clear</a></span>
        </div>
      </div>
      <div class="recently-viewd-product-container">
        <div class="col-xs-12 col-md-3 recently-viewd-product-item">
          <div class="col-md-6 col-xs-6" style="padding: 0px;">
            <span><a href="" class="recent-product-text">Purified anti-β-Amyloid, x-42 Antibody</a></span>
            <hr />
            <span><strong>Clone: </strong><a href="" class="recent-product-text">{{cloneResult}}</a></span>
          </div>
          <div class="col-xs-6 col-md-6" style="padding: 0px;">
            <img class="recent-product-img" src="https://t4.ftcdn.net/jpg/02/35/71/13/360_F_235711378_x8BsTR14c7Iu9myWbXVBk2DHf7dHsdgg.jpg" />
          </div>
        </div>
        <div class="col-xs-12 col-md-3 recently-viewd-product-item">
          <div class="col-md-6 col-xs-6" style="padding: 0px;">
            <span><a href="" class="recent-product-text">Purified anti-β-Amyloid, x-42 Antibody</a></span>
            <hr />
            <span><strong>Clone: </strong><a href="" class="recent-product-text">{{cloneResult}}</a></span>
          </div>
          <div class="col-xs-6 col-md-6" style="padding: 0px;">
            <img class="recent-product-img" src="https://t4.ftcdn.net/jpg/02/35/71/13/360_F_235711378_x8BsTR14c7Iu9myWbXVBk2DHf7dHsdgg.jpg" />
          </div>
        </div>
        <div class="col-xs-12 col-md-3 recently-viewd-product-item">
          <div class="col-md-6 col-xs-6" style="padding: 0px;">
            <span><a href="" class="recent-product-text">Purified anti-β-Amyloid, x-42 Antibody</a></span>
            <hr />
            <span><strong>Clone: </strong><a href="" class="recent-product-text">{{cloneResult}}</a></span>
          </div>
          <div class="col-xs-6 col-md-6" style="padding: 0px;">
            <img class="recent-product-img" src="https://t4.ftcdn.net/jpg/02/35/71/13/360_F_235711378_x8BsTR14c7Iu9myWbXVBk2DHf7dHsdgg.jpg" />
          </div>
        </div>
        <div class="col-xs-12 col-md-3 recently-viewd-product-item">
          <div class="col-md-6 col-xs-6" style="padding: 0px;">
            <span><a href="" class="recent-product-text">Purified anti-β-Amyloid, x-42 Antibody</a></span>
            <hr />
            <span><strong>Clone: </strong><a href="" class="recent-product-text">{{cloneResult}}</a></span>
          </div>
          <div class="col-xs-6 col-md-6" style="padding: 0px;">
            <img class="recent-product-img" src="https://t4.ftcdn.net/jpg/02/35/71/13/360_F_235711378_x8BsTR14c7Iu9myWbXVBk2DHf7dHsdgg.jpg" />
          </div>
        </div>
      </div>
    </div>
<footer class="footer">
    <div class="footer-container">
      <div class="footer-section">
        <h3>Popular Links</h3>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
      </div>

      <div class="footer-section">
        <h3>Learn</h3>
        <ul>
          <li><a href="#">Tutorials</a></li>
          <li><a href="#">Documentation</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>
      </div>

      <div class="footer-section">
        <h3>Need Help</h3>
        <ul>
          <li><a href="#">Support Center</a></li>
          <li><a href="#">Live Chat</a></li>
          <li><a href="#">Community</a></li>
        </ul>
      </div>

      <div class="footer-section">
        <h3>Our Company</h3>
        <ul>
          <li><a href="#">About</a></li>
          <li><a href="#">Careers</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Press</a></li>
        </ul>
      </div>

      <div class="footer-section">
        <h3>Follow Us</h3>
        <ul class="social-media">
          <li><a href="https://www.linkedIn.com" target="_blank"><i class="fab fa-linkedin"></i> LinkedIn</a></li>
          <li><a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i> Instagram</a></li>
          <li><a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook"></i> Facebook</a></li>
        </ul>
      </div>
    </div>

    <div class="footer-bottom">
      <p>&copy; 2025 Your Company. All Rights Reserved.</p>
    </div>
</footer>
