<div class="cellular-senescencekit-container">
    <div class="row cellular-senescencekit-container-row">
      <h1 class="col-xs-12 col-md-12 col-sm-12 col-lg-12 cellular-title">True-Stain™ Multi-Fluor Buffer</h1>
    </div>
    <section class="col-xs-12 col-md-12 col-sm-12">
      <div class="product-navigation col-xs-12 col-md-3 col-sm-3 col-lg-3">
        <ul>
          <li class="active-item">
            <a>Pricing & Availability</a>
          </li>
          <li>
            <a class="product-navigation-list-content" (click)="scrollToSection('product-contents-section')">Product Details</a>
          </li>
          <li>
            <a class="product-navigation-list-content" (click)="scrollToSection('antigen-contents-section')">Antigen Details</a>
          </li>
          <li>
            <a class="product-navigation-list-content" (click)="scrollToSection('documentation-contents-section')">Documentation</a>
          </li>
          <li>
            <a class="product-navigation-list-content" (click)="scrollToSection('reviews-contents-section')">Reviews</a>
          </li>
          <li>
            <a class="product-navigation-list-content" (click)="scrollToSection('relatedProduct-contents-section')">Related Products</a>
          </li>
          <li>
            <a class="product-navigation-list-content" (click)="scrollToSection('relatedProtocols-contents-section')">Related Protocols</a>
          </li>
          <!--<li>
      <a class="product-navigation-list-content">Related Pages & Pathways</a>
    </li>
    <li>
      <a class="product-navigation-list-content">Related FAQs</a>
    </li>-->
          <li>
            <a class="product-navigation-list-content" (click)="scrollToSection('certificate-contents-section')">Certificate of Analysis</a>
          </li>
        </ul>
      </div>
  
      <div class="product-info col-xs-12 col-sm-9">
        <div class="col-xs-8">
          <dl>
            <dt class="col-xs-4 col-sm-3 definition-list-padding">Regulatory Status</dt>
            <dd class="col-xs-8 col-sm-9 definition-list-padding">RUO</dd>
            <dt class="col-xs-4 col-sm-3 definition-list-padding">Ave. Rating</dt>
            <dd class="col-xs-8 col-sm-9 definition-list-padding">Submit a Review</dd>
          </dl>
  
          <div class="order-now">
            <table class="order-now-table">
              <tr>
                <th>Cat #</th>
                <th>Size</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Check Availibility</th>
                <th></th>
                <th>Save</th>
              </tr>
              <tr>
                <td>426105</td>
                <td>100 Tests</td>
                <td style="text-align: right;">{{price | currency}}</td>
                <td>
                  <input class="input-field-width" type="text" />
                </td>
                <td>
                  <button mat-button type="button">
                    <i class="fa fa-cubes fa-lg" aria-hidden="true"></i>
                  </button>
                </td>
                <td>
                  <button mat-raised-button type="button" class="cart-button">
                    Add to cart
                  </button>
                </td>
                <td>
                  <button mat-button class="save-button">
                    <i class="fa fa-heart-o fa-lg heart-icon" aria-hidden="true"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <td>426106</td>
                <td>100 Tests</td>
                <td style="text-align: right;">{{price | currency}}</td>
                <td>
                  <input class="input-field-width" type="text" />
                </td>
                <td>
                  <button mat-button type="button">
                    <i class="fa fa-cubes fa-lg" aria-hidden="true"></i>
                  </button>
                </td>
                <td>
                  <button mat-raised-button type="button" class="cart-button">
                    Add to cart
                  </button>
                </td>
                <td>
                  <button mat-button class="save-button">
                    <i class="fa fa-heart fa-lg heart-icon" aria-hidden="true"></i>
                  </button>
                </td>
              </tr>
            </table>
          </div>
  
            <div class="title-div">
              <span class="title">Description</span>
              <p style="margin-bottom: 0px;">
                True-Stain™ Multi-Fluor Buffer helps prevent interactions between fluorescent reagents when staining cells with multiple Brilliant Violet™ or Brilliant Ultraviolet™ dyes. Fluorescent dye interactions can cause staining artifacts which may affect data interpretation. Use True-Stain™ Multi-Fluor Buffer when combining multiple Brilliant™ polymer dyes to minimize possible nonspecific interactions and increase confidence in your results.
                <br />
                <br />
                This buffer is compatible with the use of conjugates of traditional fluorochromes and tandems, as well as Alexa Fluor®, Spark™, and Fire™ dyes. It is also compatible with commonly used BioLegend flow cytometry reagents and protocols, including fixation and permeabilization reagents.
                <br />
                <br />
                True-Stain™ Multi-Fluor Buffer can be used with BioLegend Compensation Beads. It has not been tested for compatibility with compensation particles from other vendors.
              </p>
              <a class="product-link">Product Details</a>
              <div class="datasheet-button-div">
                <button class="datasheet-button" mat-raised-button type="button">
                  <i class="fa fa-file-pdf" aria-hidden="true" style="padding-right: 4px;"></i>Technical Data Sheet
                </button>
              </div>
          </div>
        </div>
  
        <div class="col-xs-4">
          <div class="image-viewer-container">
            <div class="main-image">
              <img [src]="selectedImage.src" alt="Main Image">
            </div>
  
            <div class="content-container">
              <div class="text-content">
                <figcaption class="description">
                  {{ selectedImage.text }}
                </figcaption>
              </div>
  
              <div class="thumbnail-container">
                <img *ngFor="let image of images"
                     [src]="image.src"
                     alt="Thumbnail"
                     (click)="changeImage(image)">
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div id="product-contents-section" class="product-description-content product-details col-xs-12 col-sm-9">
          <div class="col-xs-12 col-md-12">
            <h2>Product Details</h2>
            <dl class="col-xs-12" style="padding: 0px;">
              <dt class="col-xs-3 definition-list-padding">Formulation</dt>
              <dd class="col-xs-9 definition-list-padding">True-Stain™ Multi-Fluor Buffer is supplied as a ready-to-use buffer for immunofluorescent staining of cells.</dd>
              <dt class="col-xs-3 definition-list-padding">Storage & Handling</dt>
              <dd class="col-xs-9 definition-list-padding">Store between 2°C and 8°C, and protected from prolonged exposure to light.</dd>
              <dt class="col-xs-3 definition-list-padding">Application</dt>
              <dd class="col-xs-9 definition-list-padding">
                <p style="margin-bottom: 0px;">
                  <a class="product-link">FC - Quality tested</a>
                </p>
                <p style="margin-bottom: 0px;">
                  <a class="product-link">
                    ICFC - Verified
                  </a>
                </p>
              </dd>
              <dt class="col-xs-3 definition-list-padding">Recommended Usage</dt>
              <dd class="col-xs-9 definition-list-padding">Use 15 μL per tube or well per 100 µL of cells</dd>
              <dt class="col-xs-3 definition-list-padding">Application Notes</dt>
              <dd class="col-xs-9 definition-list-padding">
                <p>
                  True-Stain™ Multi-Fluor Buffer can be used for surface and intracellular staining of human or mouse cells.
                </p>
                <p>
                  <u><strong>Protocol</strong></u>
                </p>
                <ol>
                  <li>Add 15 μL* of True-Stain™ Multi-Fluor Buffer to each empty tube/well.</li>
                  <li>Add the recommended amount of each fluorescent reagent one by one. If needed, add Cell Staining Buffer (Cat. No. 420201) to increase the volume in each tube/well to 50 μL.</li>
                  <li>Add 100 μL of cells.</li>
                  <li>Follow standard staining protocol appropriate to tissue type as usual (see Related Protocols).​</li>
                </ol>
                <p>
                  <strong>*Note: </strong>​​​For final staining volumes greater than 150 μL, use True-Stain™ Multi-Fluor Buffer as a 10X solution.  For example, for a final volume of 200 μL, use 20 μL of True-Stain™ Multi-Fluor Buffer.
                </p>
              </dd>
            </dl>
          </div>
      </div>
  
      <div id="antigen-contents-section" class="product-description-content antigen-details col-xs-12 col-sm-9">
          <div class="col-xs-12 col-md-12">
            <h2>Antigen Details</h2>
            <dl class="col-xs-12" style="padding: 0px;">
              <dt class="col-xs-3 definition-list-padding">Gene ID</dt>
              <dd class="col-xs-9 definition-list-padding">NA</dd>
            </dl>
          </div>
      </div>
  
      <div id="documentation-contents-section" class="product-description-content documentation col-xs-12 col-sm-9">
          <div class="col-xs-12 col-md-12">
            <h2>Documentation</h2>
            <ul>
              <li>
                <a href="" class="product-link">
                  <i class="fa fa-file-pdf" aria-hidden="true" style="padding-right: 4px;"></i>Technical Data Sheet
                </a>
              </li>
              <li>
                <a href="" class="product-link">
                  <i class="fa fa-certificate" aria-hidden="true" style="padding-right: 4px;"></i>Certificate of Analysis
                </a>
              </li>
              <li>
                <a href="" class="product-link">
                  <i class="fa fa-certificate" aria-hidden="true" style="padding-right: 4px;"></i>Safety Data Sheet
                </a>
              </li>
            </ul>
          </div>
      </div>
  
      <div id="reviews-contents-section" class="product-description-content product-review col-xs-12 col-sm-9">
        <div class="col-xs-12 col-md-12">
            <h2>Reviews</h2>
            <button mat-raised-button type="button" class="datasheet-button">
              Review This Product
            </button>
        </div>
      </div>
  
      <div id="relatedProtocols-contents-section" class="product-description-content related-protocol col-xs-12 col-sm-9">
          <div class="col-xs-12 col-md-12">
            <h2>Related Protocol</h2>
            <ul>
              <li>
                <a href="" class="product-link">Cell Surface Flow Cytometry Staining Protocol</a>
              </li>
              <li>
                <a href="" class="product-link">Intracellular Flow Cytometry Staining Protocol</a>
              </li>
            </ul>
          </div>
      </div>
  
      <div id="relatedProduct-contents-section" class="product-description-content product-review col-xs-12 col-sm-9">
          <div class="col-xs-12 col-md-12">
            <h2>Related Products</h2>
            <table class="related-product-table">
              <tr>
                <th>Description</th>
                <th>Clone</th>
                <th>Application</th>
              </tr>
              <tr>
                <td>
                  <a href="" class="related-product-table-link">Cell Staining Buffer</a>
                </td>
                <td></td>
                <td>FC,ICC,ICFC</td>
              </tr>
              <tr>
                <td>
                  <a href="" class="related-product-table-link">RBC Lysis Buffer (10X)</a>
                </td>
                <td></td>
                <td>FC</td>
              </tr>
              <tr>
                <td>
                  <a href="" class="related-product-table-link">True-Stain Monocyte Blocker™</a>
                </td>
                <td></td>
                <td>FC</td>
              </tr>
              <tr>
                <td>
                  <a href="" class="related-product-table-link">Cyto-Fast™ Fix/Perm Buffer Set</a>
                </td>
                <td></td>
                <td>ICFC</td>
              </tr>
  
            </table>
          </div>
      </div>
  
      <div id="certificate-contents-section" class="product-description-content product-review col-xs-12 col-sm-9">
          <div class="col-xs-12 col-md-12">
            <h2>Certificate of Analysis</h2>
            <div class="col-xs-12 col-md-3">
              <mat-label><strong>LOT#</strong></mat-label>
              <mat-form-field appearance="outline" class="info-form-field">
                <input matInput placeholder="Type" typeof="text" />
              </mat-form-field>
            </div>
            <div class="col-xs-12 col-md-3 button-container">
              <button mat-raised-button type="submit" class="cart-button">
                <i class="fa fa-paper-plane" style="padding-right: 4px;"></i>Submit
              </button>
            </div>
          </div>
      </div>
    </section>
  </div>
