<mat-card>
<div class="home-page-section1">
    <div class="row">
      <div class="col-xs-12 col-lg-3 col-md-3 col-sm-6" *ngFor="let item of headingName" [routerLink]="item.link">
        <div class="section-content">
          <div class="title-container">
            <h1>{{item.heading}}</h1>
          </div>
          <div class="content-container">
            {{item.content}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="paragraph-text table-responsive">
    <h2>Research Areas</h2>
  </div>

  <div class="category-container">
    <div class="category-item" *ngFor="let item of categories"
         [ngClass]="{'expanded': hoveredItem === item}"
         (mouseenter)="hoveredItem = item"
         (mouseleave)="hoveredItem = null">

      <!-- Image -->
      <img [src]="item.image" alt="{{ item.name }}">

      <!-- Default Name (Always Visible) -->
      <div class="default-name">
        {{ item.name }}
      </div>

      <!-- Content Box (Visible only on Hover) -->
      <div class="content-box" *ngIf="hoveredItem === item">
        <h2>{{ item.name }}</h2>
        <p>{{ item.description }}</p>
        <button class="learn-more">LEARN MORE</button>
      </div>

    </div>
  </div>



  <div class="signupContainer">
    <div class="row">
      <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
        <div class="paragraph-text table-responsive">
          <div class="signup-container">
            <div class="signup-text">
              Be the first to know about new products and promotions&nbsp;&nbsp;
              <button mat-raised-button class="signup-button">Signup</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-card>